<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="po">
    
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
    <br> <br>
     <ion-button expand="block" color="light" shape="round"  class="bu">
       carie dentaire
     </ion-button> <br> <br>
     <ion-button expand="full" color="success" shape="round" class="para">
      Parodontophies
    </ion-button> <br> <br>
    <ion-button expand="full" color="light" shape="round">
      cancer buccal
    </ion-button> <br> <br>
    <ion-button  expand="full" color="success" shape="round">
      maladie infectueuse bucco-dentaire
    </ion-button> <br> <br>
    <ion-button  expand="full" color="light" shape="round">
        lesions congenitales
    </ion-button> <br> <br>

</ion-content>
